/* .prueba{
    color: rgb(139, 81, 233);
    padding: 20px;
    margin: 20px;
    border: 2px solid;
    font-weight: 400;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}
.prueba2{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
} */

.parent{
    background-color: rgb(224, 168, 46);
    display:flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    gap: 100px;

}
.children1{
    width: 100px;
    height: 100px;
    position: static;
    top: 500px;
    background-color: chartreuse;
    border: 10px;

}

.children2{
    width: 100px;
    height: 100px;
    position: static;
    background-color: red;
}

.children3{
    width: 100px;
    height: 100px;
    position: static;
    background-color: rgb(67, 125, 248);
}

.children4{
    width: 100px;
    height: 100px;
    position: static;
    background-color: rgb(255, 244, 83);
}

.children:nth-child(even){
    width: 50px;
    height: 50px;

}
@media screen and (min-width: 480px) {
    .parent{
    background-color: blueviolet;
    flex-direction: row;
}
    
}